@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #332d24;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: #a52a2a;
    margin-bottom: 1rem;
}

header h1 {
    color: #ffdab9;
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
}

main {
    width: 90%;
    margin: auto;
}

#navigation li {
    display: inline-block;
    color: #222;
    padding: 0 1rem;
    border-right: 2px solid #222;
}

#navigation li:first-of-type {
    padding-left: 0;
}

#navigation li:last-of-type {
    border-right: none;
}

a, a:visited {
    color: #332d24;
    text-decoration: none;
}

a:hover, a:focus {
    color: brown;
}

a:active {
    color: #ffdab9;
}

.different {
    text-transform: uppercase;
    background-color: goldenrod;
}

.chapterSection{
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color:#ffdab9;
}

.circle {
    background-color: goldenrod;
    width: 100px;
    height: 100px;
    margin: 3rem auto;
    border: 2px solid black;
    outline: 2px solid brown;
    border-radius: 50px;
    outline-offset: 0.25em;
}

#navigation {
    background-color: #84c3c5;
    font-size: 1.25rem;
    padding: 1em;
}

#second {
    font-style: italic;
}

#cssColors p {
    color: gray;
} 

#cssColors .blueviolet {
    color:blueviolet;
}

#cssUnits p {
    font-size: 2rem;
    padding: 0.5em;
    border: 2px dotted red;
    width: 50%;
}

#cssUnits #charWrap {
    min-width: 20ch;
    max-width: 40ch;
}

#cssBoxModel h2, #cssBoxModel p {
    border: 5px dotted darkred;
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em;
    outline: 2px solid purple;
    outline-offset: 5px;
}

#cssTypography {
    font-size: 2rem;
    padding: 10%;
}

/* input, button {
    font: inherit;
} */

#cssTypography p {
    text-indent: 2em;
    line-height: 1.4;
}

#cssLists ul, #cssLists ol {
    margin-left: 2rem;
}

#cssLists ol {
    list-style-type: lower-alpha;
}

#cssLists ul {
    text-align: center;
    list-style-position: inside;
    /* list-style: square url(../checkmark.png) inside; */
}

#cssLists li:nth-child(1) {
    color: #a52a2a;
}

#cssLists ul ::marker {
    color: red;
    content: ">>> ";
}

#resMenu {
    text-align: center;
}

#resMenu nav {
    border: 2px solid #999;
    background-color: #DDD;
    border-radius: 2rem;
    max-width: 600px;
    margin: 0 auto 1rem;
    font-size: 3rem;
    line-height: 7rem;
}

#resMenu h2 {
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    margin: 0;
}

#resMenu li {
    list-style-type: none;
    display: block;
    border: none;
    border-top: 2px solid #999;
    padding: 0;
    font-size: 3rem;
}

#resMenu li a {
    display: block;
}

#resMenu a, #resMenu a:visited {
    color: #333;
}

#resMenu a:hover {
    background-color: #999;
    color: #DDD;
}

#resMenu li:last-child a:hover {
    border-radius: 0 0 2rem 2rem;
}

#cssDisplay p {
    background-color: lightgrey;
    font-size: 1.5rem;
}

#cssDisplay span {
    background-color: gray;
    display: inline-block;
    margin-top: 50px;
    height: 150px;
    padding: 4rem;
}

#cssFloat p {
    margin-bottom: 1rem;
}

#cssFloat {
    display: flow-root;
}

.block {
    width: 15vw;
    height: 15vw;
    background-color: #222;
    color: wheat;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

#cssFloat section {
    background-color: #84c3c5;
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flow-root; /* Contains the flow */
}

#cssFloat section p {
    margin-bottom: 0;
}