@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faebd7;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #a52a2a;
    margin-bottom: 1rem;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

main {
    width: 90%;
    margin: auto;
}

nav li {
    display: inline-block;
    color: #222;
    padding: 0 2rem;
    border-right: 2px solid #222;
}

nav li:last-of-type {
    border-right: none;
}

a, a:visited {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: white;
}

.different {
    text-transform: uppercase;
    background-color: goldenrod;
}

.chapterSection{
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.circle {
    background-color: goldenrod;
    width: 100px;
    height: 100px;
    margin: 3rem auto;
    border: 2px solid black;
    outline: 2px solid brown;
    border-radius: 50px;
    outline-offset: 0.25em;

}

#navigation {
    background-color: #84c3c5;
    font-size: 1.25rem;
    padding: 1em;
}

#second {
    font-style: italic;
}

#cssColors {
    background-color:#ffdab9;
}

#cssColors p {
    color: gray;
} 

#cssColors .blueviolet {
    color:blueviolet;
}


#cssUnits {
    background-color: lightgoldenrodyellow;
}

#cssUnits p {
    font-size: 2rem;
    padding: 0.5em;
    border: 2px dotted red;
    width: 50%;
}

#cssUnits #charWrap {
    min-width: 20ch;
    max-width: 40ch;
}

#cssBoxModel {
    background-color:honeydew;
}

#cssBoxModel h2, #cssBoxModel p {
    border: 5px dotted darkred;
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 1.5em;
    outline: 2px solid purple;
    outline-offset: 5px;
}

#cssTypography {
    background-color: rgb(255, 200, 150);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    padding: 10%;
}

/* input, button {
    font: inherit;
} */

#cssTypography p {
    text-indent: 2em;
    line-height: 1.4;
}